<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Página dedicada a RPG Maker, EasyRPG y MKXP con descargas de juegos y material para crear videojuegos.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/template/rpgmaker.css">
		<link rel="preload" href="/template/rpgmaker.css" as="style">
		<link rel="preload" href="/template/fonts/fontawesome-webfont.woff2" as="font">
		<link rel="preload" href="/template/fonts/MavenPro-VF.woff2" as="font">
		<link rel="preload" href="/template/pics/rpgmaker.png" as="image">
		<link rel="preload" href="/favicon.ico" as="image">
		<title>RPG Maker en español</title>
	</head>
	<body>
		<nav>
			<div class="contenedor">
				<h1><a href="">RPG Maker en español</a></h1>
				<input type="checkbox" id="burger" /><label for="burger"><i class="burger"></i></label>
				<ul class="menu-general menu">
					<li><a href=""><i class="recursos"></i> Recursos</a></li>
					<li><a href=""><i class="juegos"></i> Juegos</a></li>
					<li><a href=""><i class="ayuda"></i> Ayuda</a></li>
				</ul>
				<ul class="menu-usuario menu">
					<li><a href=""><i class="acceso"></i> Acceso</a></li>
				</ul>
			</div>
		</nav>
		<section>
			<article class="contenedor">
				<form class="form_acceso">
					<fieldset>
						<legend>Hey, ya soy usuario</legend>
						<label>Nombre de usuario</label><br />
						<input type="text" placeholder="Nickname" /><br />
						<label>Contraseña</label><br />
						<input type="password" value="Tu contraseña" /><br />
						<div class="minibloque">
							<input type="checkbox" id="c1" name="cc" />
							<label class="flotar_d" for="c1"><span></span>Recuérdame</label>
							<button type="submit" class="bg_azul borde_azul">
								<i class="acceso"></i> Iniciar Sesión
							</button>
						</div>
						<p><a href="">He olvidado mi contraseña</a></p>
					</fieldset>
				</form>
				<form class="form_acceso">
					<fieldset>
						<legend>Registre su cuenta</legend>
						<label>Nombre de usuario</label><br />
						<input type="text" placeholder="Nickname" /><br />
						<label>Contraseña</label><br />
						<input type="password" value="" /><br />
						<label>E-mail</label><br />
						<input type="email" placeholder="cuenta@cuenta.com" /><br />
						<button type="submit" class="bg_verde borde_verde">
							<i class="nuser"></i> Registrarse
						</button>
					</fieldset>
				</form>
			</article>
		</section>
		<footer>
			<div class="contene-footer">
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
			</div>
			<p><span class="copy-left">©</span>RPGMaker.es</p>
		</footer>
	</body>
</html>
