<!doctype html>
<html lang="es">
	<head>
		<link rel="preload" href="rpgmaker.css" as="style">
		<link rel="preload" href="/pics/icon.svg" as="image">
		<link rel="stylesheet" href="rpgmaker.css">
		<link rel="icon" type="image/svg+xml" href="/pics/icon.svg" sizes="any">
		<link rel="mask-icon" href="/pics/mask-icon.svg" color="#d4b300">
		<meta charset="utf-8">
		<meta name="description" content="Formulario de acceso al perfil de usuario en rpgmaker.es para realizar aportes.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#171522">
		<title>Acceso de usuarios a rpgmaker.es</title>
	</head>
	<body>
		<h1>
			<a href=".">
				<img src="/pics/icon.svg" alt="" width="32" height="32">
				RPG Maker en español
			</a>
		</h1>
		<main>
			<form class="form_acceso">
				<fieldset>
					<legend>Hey, ya soy usuario</legend>
					<p>
						<label>Nombre de usuario</label><br>
						<input type="text" placeholder="Nickname">
					</p>
					<p>
						<label>Contraseña</label><br>
						<input type="password" value="Tu contraseña">
					</p>
					<p>
						<input type="checkbox" id="c1" name="cc">
						<label for="c1">Recuérdame</label>
					</p>
					<p>
						<button type="submit" class="bg_azul borde_azul">🔐 Iniciar Sesión</button>
					</p>
					<p>
						<a href="recupass.html">He olvidado mi contraseña</a>
					</p>
				</fieldset>
			</form>
			<form class="form_acceso">
				<fieldset>
					<legend>Registre su cuenta</legend>
					<p>
						<label for="usuario">Nombre de usuario</label><br>
						<input id="usuario" type="text" placeholder="Alias">
					</p>
					<p>
						<label for="clave">Contraseña</label><br>
						<input id="clave" type="password" value="">
					</p>
					<p>
						<label for="correo">Correo electrónico</label><br>
						<input id="correo" type="email" placeholder="ejemplo@ejemplo.es">
					</p>
					<p>
						<button type="submit" class="bg_verde borde_verde">👤 Registrarse</button>
					</p>
				</fieldset>
			</form>
		</main>
		<header>
			<nav id="menu">
				<a href="#menu" aria-label="Menú">☰</a>
				<a href="#menu-cerrado" aria-label="Cerrar menú"></a>
				<ul>
					<li>
						<a href="/recursos/">📂 Recursos</a>
					</li>
					<li>
						<a href="/juegos/">🎲 Juegos</a>
					</li>
					<li>
						<a href="/ayuda/">❔ Ayuda</a>
					</li>
					<li class="separado">
						<a href="acceso.html">🔑 Acceso</a>
					</li>
				</ul>
			</nav>
		</header>
		<footer>
			<nav>
				<section>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="//wiki.rpgmaker.es/">Wiki RPG Maker (ES)</a></li>
						<li><a href="//comunidad.rpgmaker.es/">Comunidad RPG Maker</a></li>
						<li><a href="/consultas/">Soporte On-line</a></li>
					</ul>
				</section>
				<section>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="//wiki.rpgmaker.es/">Wiki RPG Maker (ES)</a></li>
						<li><a href="//comunidad.rpgmaker.es/">Comunidad RPG Maker</a></li>
						<li><a href="/consultas/">Soporte On-line</a></li>
					</ul>
				</section>
				<section>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="//wiki.rpgmaker.es/">Wiki RPG Maker (ES)</a></li>
						<li><a href="//comunidad.rpgmaker.es/">Comunidad RPG Maker</a></li>
						<li><a href="/consultas/">Soporte On-line</a></li>
					</ul>
				</section>
			</nav>
			<p><span class="copy-left">©</span> RPGMaker.es</p>
		</footer>
	</body>
</html>
