<!DOCTYPE html>
<html lang="es"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="description" content="RPG Maker en español es una página dedicada a RPG Maker 2000, 2003, XP, VX, VX Ace, MV, MZ, EasyRPG y MKXP con ayuda, descargas de juegos y material para crear videojuegos.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/template/rpgmaker.css">
	<link rel="preload" href="/template/rpgmaker.css">
	<link rel="preload" href="/template/fonts/fontawesome-webfont.woff2">
	<link rel="preload" href="/template/fonts/MavenPro-VF.woff2">
	<link rel="preload" href="/template/pics/rpgmaker.png">
	<link rel="preload" href="/favicon.ico">
	<title>RPG Maker en español</title>
	</head>
	<body>
		<nav>
			<div class="contenedor">
				<h1><a href="">RPG Maker en español</a></h1><input type="checkbox" id="burger" /><label for="burger"><i class="burger"></i></label>
				<ul class="menu-general menu">
					<li><a href=""><i class="recursos"></i>Recursos</a></li><li><a href=""><i class="juegos"></i>Juegos</a></li><li><a href=""><i class="ayuda"></i>Ayuda</a></li>
				</ul>
				<ul class="menu-usuario menu">
					<li><a href=""><i class="ajustes"></i>Ajustes</a></li>
					<li><a href=""><i class="salir"></i>Salir</a></li>
				</ul>
			</div>
		</nav>
		<section>
			<article class="contenedor">
				<div class="cpanel">
					<figure>
						<img src="pics/av_base.jpg" alt="Avatar" />
						<figcaption>Hasta13Caracteres</figcaption>
					</figure>
					<form>
						<label>Nombre de usuario (dato inamovible)</label>
						<input type="text" placeholder="Nickname" disabled />
						<label>Contraseña (puedes modificarlo aquí)</label>
						<input type="password" value="Tu contraseña" />
						<input type="file" id="file" for="noav" />
						<label for="file" class="btn-3 bg_verde borde_verde"><i class="cargavatar"></i>Cargar Avatar</label>
						<input type="checkbox" id="c1" name="cc" />
						<label for="c1"><span></span>Eliminar avatar</label>
						<button type="submit" class="bg_azul borde_azul flotar_d">
							<i class="actualizar"></i>Actualizar Perfil
						</button>
					</form>
				</div>
				<div class="cpanel">
					<h2><i class="estadisticas"></i>Información de NombreUsuario</h2>
					<ul>
						<li><i class="rdescargados"></i>Recursos cargados<br /><span>1 mil.</span></li>
						<li><i class="jtotales"></i>Juegos aportados<br /><span>0</span></li>
						<li><i class="resena"></i>Reseñas realizadas<br /><span>10M</span></li>
						<li><i class="tutos"></i>Tutoriales aportados<br /><span>40</span></li>
					</ul>
					<ul>
						<li><i class="altavoz"></i>Perfil en red social 1<br /><span><a href="">Visitar</a></span></li>
						<li><i class="altavoz"></i>Perfil en red social 2<br /><span><a href="">Visitar</a></span></li>
						<li><i class="altavoz"></i>Perfil en red social 3<br />--</li>
						<li><i class="mundo"></i>Sitio web propio<br /><span><a href="">Visitar</a></span></li>
					</ul>
					<form>
						<button type="submit" class="bg_rojo borde_rojo flotar_d">
							<i class="anular"></i>Anular cuenta
						</button>
						<p class="infoelimincuen">Se reactiva al logearse</p>
					</form>
				</div>
			</article>
		</section>
		<footer>
			<div class="contene-footer">
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
			</div>
			<p><span class="copy-left">©</span>RPGMaker.es</p>
		</footer>
	</body>
</html>