<!DOCTYPE html>
<html lang="es"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><link rel="stylesheet" href="rpgmaker.css">
	<meta charset="utf-8">
	<meta name="description" content="RPG Maker en español es una página dedicada a RPG Maker 2000, 2003, XP, VX, VX Ace, MV, MZ, EasyRPG y MKXP con ayuda, descargas de juegos y material para crear videojuegos.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RPG Maker en español</title>
	</head>
	<body>
		<nav>
			<div class="contenedor">
				<h1><a href="">RPG Maker en español</a></h1><input type="checkbox" id="burger" /><label for="burger"><i class="burger"></i></label>
				<ul class="menu-general menu">
					<li><a href=""><i class="recursos"></i>Recursos</a></li><li><a href=""><i class="juegos"></i>Juegos</a></li><li><a href=""><i class="ayuda"></i>Ayuda</a></li>
				</ul>
				<ul class="menu-usuario menu">
					<li><a href=""><i class="ajustes"></i>Ajustes</a></li>
				</ul>
			</div>
		</nav>
		<section>
			<article class="contenedor">
				<div class="cpanel">
					<figure>
						<img src="pics/av_base.jpg" alt="Avatar" />
						<figcaption>Hasta13Caract</figcaption>
					</figure>
					<form>
						<label>Nombre de usuario (dato inamovible)</label>
						<input type="text" placeholder="Username" disabled />
						<label>Contraseña (puedes modificarlo aquí)</label>
						<input type="password" value="YourPass" />
						<input type="file" id="file" for="noav" />
						<label for="file" class="btn-3 bg_verde borde_verde"><i class="cargavatar"></i>Cargar Avatar</label>
						<input type="checkbox" id="c1" name="cc" />
						<label for="c1"><span></span>Eliminar avatar</label>
						<button type="submit" class="bg_azul borde_azul">
							<i class="actualizar"></i>Actualizar Perfil
						</button>
					</form>
				</div>
			</article>
		</section>
		<footer>
			<div class="contene-footer">
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
			</div>
			<p><span class="copy-left">©</span>RPGMaker.es</p>
		</footer>
	</body>
</html>