<!doctype html>
<html lang="es">
	<head>
		<link rel="preload" href="/template/rpgmaker.css" as="style">
		<link rel="preload" href="/pics/icon.svg" as="image">
		<link rel="stylesheet" href="/template/rpgmaker.css">
		<link rel="icon" type="image/svg+xml" href="/pics/icon.svg" sizes="any">
		<link rel="mask-icon" href="/pics/mask-icon.svg" color="#d4b300">
		<meta charset="utf-8">
		<meta name="description" content="Página dedicada a RPG Maker, EasyRPG y MKXP con descargas de juegos y material para crear videojuegos.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#171522">
		<title>RPG Maker en español</title>
	</head>
	<body>
		<h1>
			<a href=".">
				<img src="/pics/icon.svg" alt="" width="32" height="32">
				RPG Maker en español
			</a>
		</h1>
		<main>
			<div>
				<article id="destacados">
					<h2>🏆 Juegos Destacados</h2>
					<a href="/juegos/2003/super-crystal-hunter/" title="Super Crystal Hunter">
						<figure>
							<img src="/pics/ej2.png" width="320" height="240" alt="">
							<figcaption>Super Crystal Hunter</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/the-battle-mage/" title="The Battle Mage">
						<figure>
							<img src="/pics/ej4.png" width="320" height="240" alt="">
							<figcaption>The Battle Mage</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/desolate-city-the-bloody-dawn/" title="Desolate City: The Bloody Dawn">
						<figure>
							<img src="/pics/ej1.png" width="320" height="240" alt="">
							<figcaption>Desolate City: The Bloody Dawn</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/ian-el-benjamin-arrugado/" title="Ian, El Benjamín Arrugado">
						<figure>
							<img src="/pics/ej3.png" width="320" height="240" alt="">
							<figcaption>Ian, El Benjamín Arrugado</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/super-crystal-hunter/" title="Super Crystal Hunter">
						<figure>
							<img src="/pics/ej2.png" width="320" height="240" alt="">
							<figcaption>Super Crystal Hunter</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/the-battle-mage/" title="The Battle Mage">
						<figure>
							<img src="/pics/ej4.png" width="320" height="240" alt="">
							<figcaption>The Battle Mage</figcaption>
						</figure>
					</a>
				</article>
				<article id="nuevos">
					<h2>📰 Juegos nuevos</h2>
					<a href="/juegos/2003/desolate-city-the-bloody-dawn/" title="Desolate City: The Bloody Dawn">
						<figure>
							<img src="/pics/ej1.png" width="320" height="240" alt="">
							<figcaption>Desolate City: The Bloody Dawn</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/ian-el-benjamin-arrugado/" title="Ian, El Benjamín Arrugado">
						<figure>
							<img src="/pics/ej3.png" width="320" height="240" alt="">
							<figcaption>Ian, El Benjamín Arrugado</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/the-battle-mage/" title="The Battle Mage">
						<figure>
							<img src="/pics/ej4.png" width="320" height="240" alt="">
							<figcaption>The Battle Mage</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/super-crystal-hunter/" title="Super Crystal Hunter">
						<figure>
							<img src="/pics/ej2.png" width="320" height="240" alt="">
							<figcaption>Super Crystal Hunter</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/desolate-city-the-bloody-dawn/" title="Desolate City: The Bloody Dawn">
						<figure>
							<img src="/pics/ej1.png" width="320" height="240" alt="">
							<figcaption>Desolate City: The Bloody Dawn</figcaption>
						</figure>
					</a>
					<a href="/juegos/2003/ian-el-benjamin-arrugado/" title="Ian, El Benjamín Arrugado">
						<figure>
							<img src="/pics/ej3.png" width="320" height="240" alt="">
							<figcaption>Ian, El Benjamín Arrugado</figcaption>
						</figure>
					</a>
				</article>
				<article id="recursos">
					<h2>📥 Recursos más descargados</h2>
					<a href="/recursos/personajes/24x32/nombre/" title="Nombre gráfico">
						<figure>
							<img class="charset" src="/pics/Plantilla.png" width="288" height="256" alt="">
							<figcaption>Nombre gráfico</figcaption>
						</figure>
					</a>
					<a href="/recursos/sonidos/nombre/" title="Nombre sonido">
						<figure>
							<img class="charset" src="/pics/Plantilla.png" width="288" height="256" alt="">
							<figcaption>Nombre sonido</figcaption>
						</figure>
					</a>
					<a href="/recursos/paquetes/general/nombre/" title="Nombre paquete">
						<figure>
							<img class="charset" src="/pics/Plantilla.png" width="288" height="256" alt="">
							<figcaption>Nombre paquete</figcaption>
						</figure>
					</a>
				</article>
			</div>
			<div>
				<article id="populares">
					<h2>🌟 Los más populares</h2>

					<a href="/juegos/2003/nombre-juego/" title="Nombre juego">
						<figure>
							<figcaption><span>⭐ Juego</span>: Nombre juego</figcaption>
							<img src="/pics/ej1.png" width="320" height="240" alt="">
						</figure>
					</a>
					<a href="/recursos/personajes/24x32/plantilla-personajes/" title="Nombre recurso">
						<figure>
							<figcaption><span>⭐ Recurso</span>: Nombre recurso</figcaption>
							<img src="/pics/Plantilla.png" width="288" height="256" alt="">
						</figure>
					</a>
					<a href="/tutoriales/" title="Nombre tutorial">
						<figure>
							<figcaption><span>⭐ Tutorial</span>: Nombre tutorial</figcaption>
						</figure>
					</a>
				</article>
				<article id="reseñas">
					<h2>✅ Últimas Reseñas</h2>
					<ul>
						<li>
							<a href="/juegos/2003/desolate-city-the-bloody-dawn/resenas/supervivencia-en-la-ciudad/"
								title="Desolate City: The Bloody Dawn">
								📄 Desolate City: The Bloody Dawn
							</a>
						</li>
						<li>
							<a href="/juegos/2003/super-crystal-hunter/resenas/un-arcade-unico/"
								title="Super Crystal Hunter">
								📄 Super Crystal Hunter
							</a>
						</li>
						<li>
							<a href="/juegos/2003/ian-el-benjamin-arrugado/resenas/terror-e-investigacion/"
								title="Ian, El Benjamín Arrugado">
								📄 Ian, El Benjamín Arrugado
							</a>
						</li>
						<!--<li>
							<a href="/juegos/2003/p-a-cman/resenas/un-trailer-inolvidable/"
								title="P.A.CMAN">
								📄 P.A.CMAN
							</a>
						</li>-->
					</ul>
				</article>
				<article id="tutoriales">
					<h2>📚 Tutoriales recientes</h2>
					<ul>
						<li>
							<a href="/tutoriales/graficos/juego-de-luces-y-sombras/"
								title="Juego de luces y sombras">
								📖 Juego de luces y sombras
							</a>
						</li>
						<li>
							<a href="/tutoriales/edicion/independizar-del-rtp/"
								title="Independizar del RTP">
								📖 Independizar del RTP
							</a>
						</li>
						<li>
							<a href="/tutoriales/motor/mensaje-personalizado/"
								title="Mensajes personalizados">
								📖 Mensajes personalizados
							</a>
						</li>
						<li>
							<a href="/tutoriales/edicion/cambiar-tipos-de-letra/"
								title="Cambiar tipos de letra">
								📖 Cambiar tipos de letra
							</a>
						</li>
					</ul>
				</article>
			</div>
			<article id="comunidad">
				<h2>👥 La Comunidad pregunta...</h2>
				<ul>
					<li>
						<a href="/consultas/general/duda-relacionada-con-web-o-rpg-maker/"
							title="Duda relacionada con web o RPG Maker">
							❔ Duda relacionada con web o RPG Maker
						</a>
					</li>
					<li>
						<a href="/consultas/general/otra-consulta/"
							title="Hasta 36 caracteres para este resumen, si no, se auto-desborda">
							❔ Hasta 36 caracteres para este resumen
						</a>
					</li>
					<li>
						<a href="/consultas/general/otra-mas/"
							title="Cuando no cabe, se muestra ellipsis que hace su efecto">
							❔ Cuando no cabe, se muestra ellipsis que hace su efecto
						</a>
					</li>
					<li>
						<a href="/consultas/general/duda-relacionada-con-web-o-rpg-maker/"
							title="Duda relacionada con web o RPG Maker">
							❔ Duda relacionada con web o RPG Maker
						</a>
					</li>
					<li>
						<a href="/consultas/general/otra-consulta/"
							title="Hasta 36 caracteres para este resumen, si no, se auto-desborda">
							❔ Hasta 36 caracteres para este resumen, si no, se auto-desborda
						</a>
					</li>
					<li>
						<a href="/consultas/general/otra-mas/"
							title="Cuando no cabe, se muestra ellipsis que hace su efecto">
							❔ Cuando no cabe, se muestra ellipsis que hace su efecto
						</a>
					</li>
					<li>
						<a href="/consultas/general/duda-relacionada-con-web-o-rpg-maker/"
							title="Duda relacionada con web o RPG Maker">
							❔ Duda relacionada con web o RPG Maker
						</a>
					</li>
					<li>
						<a href="/consultas/general/otra-consulta/"
							title="Hasta 36 caracteres para este resumen">
							❔ Hasta 36 caracteres para este resumen
						</a>
					</li>
					<li>
						<a href="/consultas/general/otra-mas/"
							title="Cuando no cabe, se muestra ellipsis que hace su efecto">
							❔ Cuando no cabe, se muestra ellipsis que hace su efecto
						</a>
					</li>
				</ul>
			</article>
		</main>
		<header>
			<nav id="menu">
				<a href="#menu" aria-label="Menú">☰</a>
				<a href="#menu-cerrado" aria-label="Cerrar menú"></a>
				<ul>
					<li>
						<a href="/recursos/">📂 Recursos</a>
					</li>
					<li>
						<a href="/juegos/">🎲 Juegos</a>
					</li>
					<li>
						<a href="/ayuda/">❔ Ayuda</a>
					</li>
					<li class="separado">
						<a href="acceso.html">🔑 Acceso</a>
					</li>
				</ul>
			</nav>
		</header>
		<footer>
			<nav>
				<section>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="//wiki.rpgaker.es/">Wiki RPG Maker (ES)</a></li>
						<li><a href="//comunidad.rpgmaker.es/">Comunidad RPG Maker</a></li>
						<li><a href="/consultas/">Soporte On-line</a></li>
					</ul>
				</section>
				<section>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="//wiki.rpgmaker.es/">Wiki RPG Maker (ES)</a></li>
						<li><a href="//comunidad.rpgmaker.es/">Comunidad RPG Maker</a></li>
						<li><a href="/consultas/">Soporte On-line</a></li>
					</ul>
				</section>
				<section>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="//wiki.rpgmaker.es/">Wiki RPG Maker (ES)</a></li>
						<li><a href="//comunidad.rpgmaker.es/">Comunidad RPG Maker</a></li>
						<li><a href="/consultas/">Soporte On-line</a></li>
					</ul>
				</section>
			</nav>
			<p><span class="copy-left">©</span> RPGMaker.es</p>
		</footer>
	</body>
</html>
