<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Página dedicada a RPG Maker, EasyRPG y MKXP con descargas de juegos y material para crear videojuegos.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/template/rpgmaker.css">
		<link rel="preload" href="/template/rpgmaker.css" as="style">
		<link rel="preload" href="/template/fonts/fontawesome-webfont.woff2" as="font">
		<link rel="preload" href="/template/fonts/MavenPro-VF.woff2" as="font">
		<link rel="preload" href="/template/pics/rpgmaker.png" as="image">
		<link rel="preload" href="/favicon.ico" as="image">
		<title>RPG Maker en español</title>
	</head>
	<body>
		<header>
			<nav>
				<h1><a href=""><img src="pics/rpgmaker.png" alt=""> RPG Maker en español</a></h1>
				<input type="checkbox" id="burger"><label for="burger"><i class="burger"></i></label>
				<ul>
					<li><a href=""><i class="recursos"></i> Recursos</a></li>
					<li><a href=""><i class="juegos"></i> Juegos</a></li>
					<li><a href=""><i class="ayuda"></i> Ayuda</a></li>
				</ul>
				<ul>
					<li><a href=""><i class="acceso"></i> Acceso</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div>
				<article id="destacados">
					<h2><i class="bandera"></i> Juegos Destacados</h2>
					<a href="">
						<figure>
							<img src="pics/ej2.png" alt="">
							<figcaption>Super Crystal Hunter</figcaption>
						</figure>
					</a>
					<a href="">
						<figure>
							<img src="pics/ej4.png" alt="">
							<figcaption>The Battle Mage</figcaption>
						</figure>
					</a>
					<a href="">
						<figure>
							<img src="pics/ej1.png" alt="">
							<figcaption>Desolate City: The Bloody Dawn</figcaption>
						</figure>
					</a>
				</article>
				<article id="nuevos">
					<h2><i class="mas"></i> Nuevos Juegos</h2>
					<a href="">
						<figure>
							<img src="pics/ej1.png" alt="">
							<figcaption>Desolate City: The Bloody Dawn</figcaption>
						</figure>
					</a>
					<a href="">
						<figure>
							<img src="pics/ej3.png" alt="">
							<figcaption>Ian, El Benjamín Arrugado</figcaption>
						</figure>
					</a>
					<a href="">
						<figure>
							<img src="pics/ej4.png" alt="">
							<figcaption>The Battle Mage</figcaption>
						</figure>
					</a>
					<a href="">
						<figure>
							<img src="pics/ej2.png" alt="">
							<figcaption>Super Crystal Hunter</figcaption>
						</figure>
					</a>
					<a href="">
						<figure>
							<img src="pics/ej1.png" alt="">
							<figcaption>Desolate City: The Bloody Dawn</figcaption>
						</figure>
					</a>
					<a href="">
						<figure>
							<img src="pics/ej3.png" alt="">
							<figcaption>Ian, El Benjamín Arrugado</figcaption>
						</figure>
					</a>
				</article>
				<article id="recursos">
					<h2><i class="rdescargados"></i> Top Recursos Descargados</h2>
					<a href="">
						<figure>
							<img class="charset" src="pics/Plantilla.png" alt="">
							<figcaption>Nombre gráfico</figcaption>
						</figure>
					</a>
					<a href="">
						<figure>
							<img class="charset" src="pics/Plantilla.png" alt="">
							<figcaption>Nombre audio</figcaption>
						</figure>
					</a>
					<a href="">
						<figure>
							<img class="charset" src="pics/Plantilla.png" alt="">
							<figcaption>Nombre Pack</figcaption>
						</figure>
					</a>
				</article>
			</div>
			<div>
				<article id="populares">
					<h2><i class="estrella"></i> Los <i class="mas-2"></i> Populares</h2>

					<a href="">
						<figure>
							<figcaption><span><i class="estrella-2"></i> Juego</span>: Nombre Juego</figcaption>
							<img src="pics/ej1.png" alt="">
						</figure>
					</a>
					<a href="">
						<figure>
							<figcaption><span><i class="estrella-2"></i> Recurso</span>: Nombre Recurso</figcaption>
							<img src="pics/Plantilla.png" alt="">
						</figure>
					</a>
					<a href="">
						<figure>
							<figcaption><span><i class="estrella-2"></i> Tutorial</span>: Nombre Tutorial</figcaption>
						</figure>
					</a>
				</article>
				<article id="reseñas">
					<h2><i class="resena"></i> Últimas Reseñas</h2>
					<ul>
						<li><a href=""><i class="folio"></i> Desolate City: The Bloody Dawn</a></li>
						<li><a href=""><i class="folio"></i> Super Crystal Hunter</a></li>
						<li><a href=""><i class="folio"></i> Ian, El Benjamín Arrugado</a></li>
						<li><a href=""><i class="folio"></i> P.A.CMAN</a></li>
					</ul>
				</article>
				<article id="tutoriales">
					<h2><i class="tutos"></i> Tutoriales Recientes</h2>
					<ul>
						<li><a href=""><i class="tuto"></i> Juego de luces y sombras</a></li>
						<li><a href=""><i class="tuto"></i> Independizar del RTP</a></li>
						<li><a href=""><i class="tuto"></i> Mensajes personalizados</a></li>
						<li><a href=""><i class="tuto"></i> Cambiar fuente</a></li>
					</ul>
				</article>
			</div>
			<article id="comunidad">
				<h2><i class="comu"></i> La Comunidad Pregunta...</h2>
				<ul>
					<li><a href=""><i class="ayuda"></i> Duda relacionada con web o RPG Maker</a></li>
					<li><a href=""><i class="ayuda"></i> Hasta 36 caracteres para este resumen</a></li>
					<li><a href=""><i class="ayuda"></i> Cuando no cabe, se muestra ellipsis hace su efecto</a></li>
				</ul>
				<ul>
					<li><a href=""><i class="ayuda"></i> Duda relacionada con web o RPG Maker</a></li>
					<li><a href=""><i class="ayuda"></i> Hasta 36 caracteres para este resumen, si no, se auto-desborda</a></li>
					<li><a href=""><i class="ayuda"></i> Cuando no cabe, se muestra ellipsis hace su efecto</a></li>
				</ul>
				<ul>
					<li><a href=""><i class="ayuda"></i> Duda relacionada con web o RPG Maker</a></li>
					<li><a href=""><i class="ayuda"></i> Hasta 36 caracteres para este resumen</a></li>
					<li><a href=""><i class="ayuda"></i> Cuando no cabe, se muestra ellipsis hace su efecto</a></li>
				</ul>
			</article>
		</main>
		<footer>
			<nav>
				<section>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</section>
				<section>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</section>
				<section>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</section>
			</nav>
			<p><span class="copy-left">©</span> RPGMaker.es</p>
		</footer>
	</body>
</html>
