<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="description" content="RPG Maker en español es una página dedicada a RPG Maker 2000, 2003, XP, VX, VX Ace, MV, MZ, EasyRPG y MKXP con ayuda, descargas de juegos y material para crear videojuegos.">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/template/rpgmaker.css">
		<link rel="preload" href="/template/rpgmaker.css">
		<link rel="preload" href="/template/fonts/fontawesome-webfont.woff2">
		<link rel="preload" href="/template/fonts/MavenPro-VF.woff2">
		<link rel="preload" href="/template/pics/rpgmaker.png">
		<link rel="preload" href="/favicon.ico">
		<title>RPG Maker en español</title>
	</head>
	<body>
		<nav>
			<div class="contenedor">
				<h1><a href="">RPG Maker en español</a></h1><input type="checkbox" id="burger" /><label for="burger"><i class="burger"></i></label>
				<ul class="menu-general menu">
					<li><a href=""><i class="recursos"></i>Recursos</a></li>
					<li><a href=""><i class="juegos"></i>Juegos</a></li>
					<li><a href=""><i class="ayuda"></i>Ayuda</a></li>
				</ul>
				<ul class="menu-usuario menu">
					<li><a href=""><i class="acceso"></i>Acceso</a></li>
				</ul>
			</div>
		</nav>
		<section>
			<article class="contenedor">
				<form class="form_acceso">
					<fieldset>
						<legend>Ehm...</legend>
						<label>Si existe, recibirá un correo con instrucciones</label><br />
						<input type="email" placeholder="cuenta@cuenta.com" /><br />
						<button type="submit" class="bg_verde borde_verde">
							<i class="actualizar"></i>Regenerar Clave
						</button>
					</fieldset>
				</form>
			</article>
		</section>
		<footer>
			<div class="contene-footer">
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
				<div>
					<h3>Enlaces de ayuda</h3>
					<ul>
						<li><a href="">Wiki RPG Maker (ES)</a></li>
						<li><a href="">Comunidad RPG Maker</a></li>
						<li><a href="">Soporte On-line</a></li>
					</ul>
				</div>
			</div>
			<p><span class="copy-left">©</span>RPGMaker.es</p>
		</footer>
	</body>
</html>
