/*
Tema: RPGMaker-ES
Autores: CésarRP, Orochii, fdelapena, EN.i, [...]
Descripción: Plantilla para la web hispana central de RPG Maker.
Versión: 1.0
Licencia: GPLv3
URL Licencia: http://www.gnu.org/licenses/gpl-3.0.html
*/

main {
	max-width: 1320px; /* 320+10+320+10+320+20+320 */
	display: grid;
	grid-template-columns: auto auto; /* dos columnas */
	grid-gap: 20px; /* margen entre columnas (sin margen externo) */
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
	background-color: var(--main-bg-color);
	color: var(--body-txt-color);
}

#destacados,
#nuevos,
#recursos {
	display: grid;
	grid-template-columns: auto auto auto; /* 3 columnas */
	grid-gap: 10px;
}

#destacados h2,
#nuevos h2,
#recursos h2 {
	grid-column-start: span 3;
}

#populares,
#reseñas,
#tutoriales {
	display: grid;
	grid-template-columns: auto; /* 1 columna */
	grid-gap: 10px;
}

#malla figure {
	margin: 0;
}

#malla figure img {
	width: 320px;
	height: 240px;
}

img.charset {
	width: 288px;
	height: 256px;
}

#malla figure figcaption {
	text-align: center;
	text-overflow: ellipsis; /* FIXME */
	overflow: hidden; /* FIXME */
	white-space: nowrap; /* FIXME */
	color: var(--body-txt-color); /* FIXME */
}

.enlace { /* FIXME provisional, eliminar. */
	width: 320px;
	height: 52.5px;
	background: silver;
}


@media (max-width: 1319px) {
	#destacados,
	#nuevos,
	#recursos {
		grid-template-columns: auto auto;
	}
}

@media (max-width: 989px) {
	#destacados,
	#nuevos,
	#recursos {
		grid-template-columns: auto;
	}
}

@media (max-width: 659px) {
	#malla {
		grid-template-columns: auto;
	}
}


/* General */

@font-face {font-family: FontAwesome; src: url("fonts/fontawesome-webfont.woff2");}
@font-face {font-family: "Maven Pro"; src: url("fonts/MavenPro-VF.woff2");}

:root {
	--body-bg-color: #171522;
	--body-txt-color: #d8d7e0;
	--main-bg-color: #2A2833;
	--body-txt-h-color: #ffffff;
	--main-sh-color: #000000;
	--bg-azul: #12415c;
	--bg-azul-h: #196189;
	--borde-rojo: #871919;
	--borde-azul: #196189;
	--borde-verde: #708919;
}

body {margin: 0; font-family: "Maven Pro", sans-serif; background-color: var(--body-bg-color);}

/* Menú principal */

header {
	position: absolute;
	width: 100%;
	z-index: 2;
	box-shadow: 0 0 3px 0 var(--main-sh-color);
}

nav {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 40px 1fr auto auto;
	align-content: center;
	grid-auto-rows: 50px;
	background-color: var(--body-bg-color);
	margin: auto;
	max-width: 1320px;
}

nav h1 {
	line-height: 2em;
	margin-top: 0;
	margin-bottom: 0;
}

nav h1 a {
	display: block;
	color: var(--body-txt-color);
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center;
}

nav ul.menu-general li:first-child,
nav ul.menu-usuario li:first-child {border-left: 1px solid #3c3b47;}

nav ul {display: inline-flex; margin: 0; padding: 0 0 0 10px;}
nav ul li {display: inline; line-height: 50px; color: var(--body-txt-color);}

nav ul li a {
	color: var(--body-txt-color);
	text-decoration: none;
	font-size: 1.1429em;
	padding: 0.98em 0.49em;
}

nav ul li a:hover,
main p a:hover {color: var(--body-txt-h-color);}

/* Wrappers, textos (encabezados, párrafos, listas...) */

footer {margin: 0 auto; max-width: 1320px; padding: 0; overflow: hidden;}

p {padding: 0.3em 0; line-height: 1.5em;}

h2 {
	border-bottom: 1px solid #636170;
	color: #d8d7e0;
	margin: 20px 0 5px 0;
	padding: 0 0 5px 0;
}

h1,
h2,
h3 {font-weight: normal;}

.comunidad ul {padding-left: 0;}
footer ul li,
.comunidad ul li {text-overflow: ellipsis; overflow: hidden; max-width: 280px; white-space: nowrap;}

/* Contenido otras secciones */

/* Ajustes */

.cpanel:first-child,
.form_acceso {display: inline-table; width: 600px;}
.cpanel:last-child {width: 720px; color: #afafaf;}
.cpanel:last-child ul {display: table; margin: 0 auto; padding: 10px 5px; text-align: center; border-bottom: 1px solid #39393a;}
.cpanel:last-child h2 {font-size: 15px;text-align: center; border-bottom: 1px solid #39393a; margin: 0; padding: 10px 0;}
.cpanel:last-child p.infoelimincuen {text-align: right; font-size: 13px; color: #afafaf; margin: 0; padding: 0;}
.cpanel:last-child ul:last-child {border-bottom: none;}
.cpanel:last-child ul li {display: table-cell; padding: 5px 6px; margin: 0; text-align: center; font-size: 14px;}
.cpanel:last-child ul li span {color: #bdd091; font-size: 16px;}
.cpanel:last-child ul li span a {color: #bdd091; font-size: 14px;}
.cpanel:last-child ul li span a:hover,
.form_acceso p a:hover {color: var(--body-txt-h-color); text-decoration: none;}
.cpanel {border: 1px solid #39393a; margin: 20px 0;}
.cpanel figure {margin: 0; padding: 15px;}
.cpanel figure:first-child {width: 100px; height: 226px; border-right: 1px solid #39393a;}
.cpanel figure img {width: 100px; height: 100px;}

#menu_user_ajustes,
#menu_user_salir {display: none;}

/* Acceso */

.minibloque {max-width: 240px;}
.minibloque label {margin-top: 8px; font-size: 15px;}
.form_acceso {margin: 0 auto;}
.form_acceso p {font-size: 13px; margin: 10px 0 0 0; padding: 0;}


.comunidad {background-color: #3c3a47; display: table; margin: 20px auto; border-radius: 10px; padding: 0 10px;}

/* Sidebar */

article figure,
article figure img {height: 100px; margin: 11.6px 0 0 0; padding: 0; background: gray;}
article figure figcaption {background-color: var(--body-bg-color); opacity: 0.7;}
article figure figcaption span {font-weight: bold;}
article p {border-bottom: 1px dotted #4c4a56; padding: 0 0 5px 0; margin: 8px 0;}
article p a {color: var(--body-txt-color); text-decoration: none;}

/* Pie */

footer {color: var(--body-txt-color);}
footer p {text-align: center; font-size: 14px; padding: 10px; margin: 0; border-top: 1px solid var(--main-bg-color);}
footer ul li,
.comunidad ul li {list-style: none;}
footer a,
.comunidad a,
.form_acceso p a {color: var(--body-txt-color); text-decoration: none;}
footer a:hover,
.comunidad a:hover {color: var(--body-txt-h-color);}


/* Formularios */

form {padding: 15px; overflow: hidden;}

fieldset {border: 1px solid #39393a; padding: 20px;}
legend {font-size: 17px;}

label {
	font-size: 15px;
	color: #afafaf;
	content: '\A';
	white-space: pre;
}

input[type="submit"],
button[type="submit"] {
	border-radius: 2px;
	box-shadow: 2px 3px 2px 0 rgba(6, 17, 28, 0.9);
	cursor: pointer;
	font-size: 15px;
	padding: 6px 10px 8px 10px;
}

.bg_azul {
	background: var(--bg-azul) linear-gradient(to top, var(--bg-borde-azul) 0%, #196189 100%);
	color: #91b9d0;
}

.bg_azul:hover {
	background: var(--bg-azul-h) linear-gradient(to top, #196189 0%, #3b91c1 100%);
	color: var(--body-txt-h-color);
}

.bg_verde {
	background: #375c12 linear-gradient(to top, #375c12 0%, var(--bg-borde-verde) 100%);
	color: #bdd091;
}

.bg_verde:hover {
	background: var(--bg-borde-verde) linear-gradient(to top, var(--bg-borde-verde) 0%, #9bba2e 100%);
	color: var(--body-txt-h-color);
}

.bg_rojo {
	background: #5b1212 linear-gradient(to top, #5b1212 0%, #871919 100%);
	color: #edbdbd;
}

.bg_rojo:hover {
	background: #871919 linear-gradient(to top, #871919 0%, #b72d2d 100%);
	color: var(--body-txt-h-color);
}

.borde_rojo {
	border: 1px solid var(--borde-rojo);
}

.borde_azul {
	border: 1px solid var(--borde-azul);
}

.borde_verde {
	border: 1px solid var(--borde-verde);
}


input[type="text"],
input[type="password"],
input[type="email"] {
	background-color: var(--body-bg-color);
	width: 75%;
	padding: 5px;
	margin: 11.5px auto;
	color: var(--body-txt-color);
	border: 1px solid #39393a;
	border-radius: 3px;
	box-sizing: border-box;
}

[type="file"] {height: 0; overflow: hidden; width: 0;}

[type="file"] + label {
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	outline: none;
	font-size: 14px;
	text-align: center;
	padding: 6px 10px 8px 10px;
	position: relative;
	margin: auto 30% 20px auto;
}

input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	background:url("pics/check_radio_sheet.png") left top no-repeat;
	cursor:pointer;
}
input[type="checkbox"]:checked + label span {
	background:url("pics/check_radio_sheet.png") -19px top no-repeat;
}

input[type="text"]:disabled {
	background-color: #39393a;
}

input[type="text"]:required:invalid,
input[type="password"]:required:invalid,
input[type="email"]:required:invalid {
	box-shadow: none;
}

/* Iconos */

i:before {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	cursor: text;
	display: inline-block;
	width: 1em;
}

a i:before,
i.burger:before {
	cursor: pointer;
}

.rdescargados:before,
.estrella:before,
.estrella-2:before,
.mas:before,
.tutos:before,
.resena:before,
.bandera:before,
.comu:before,
.jtotales:before,
article figcaption span,
article a {color: #d4b300;}

.acceso:before {content: "\f090";}
.ayuda:before {content: "\f059";}
.ajustes:before {content: "\f013";}
.salir:before {content: "\f08b";}
.juegos:before,
.jtotales:before {content: "\f11b";}
.recursos:before {content: "\f07c";}
.burger:before {content: "\f0c9";}
.rdescargados:before {content: "\f0ed";}
.estrella:before {content: "\f005";}
.estrella-2:before {content: "\f006";}
.mas:before {content: "\f0fe";}
.mas-2:before {content: "\f067"; font-size: 18px;}
.tutos:before {content: "\f19d";}
.tuto:before {content: "\f212";}
.resena:before {content: "\f00c";}
.bandera:before {content: "\f024";}
.folio:before {content: "\f15c";}
.comu:before {content: "\f0c0";}
.cargavatar:before {content: "\f093";}
.actualizar:before {content: "\f01e";}
.estadisticas:before {content: "\f201";}
.anular:before {content: "\f05e";}
.altavoz:before {content: "\f0a1";}
.mundo:before {content: "\f0ac";}
.nuser:before {content: "\f234";}
.copy-left {
	display: inline-block;
	margin-right: 5px;
	transform: scaleX(-1);
}

/* Ocultos > 768px */

nav input[type="checkbox"],
nav label {display: none;}

/* Honeypots */
.cofreMisterioso {display: none;}

/* Responsivos */

@media (max-width: 768px) {
	main {padding-top: 45px;}
	nav label {font-size: 25px;}
	nav label {display: inline-block; color: var(--body-txt-color);}
	nav input[type="checkbox"] ~ ul {max-height: 0;}
	nav input[type="checkbox"]:checked ~ ul {max-height: 100%;}
	nav input[type="checkbox"]:checked ~ .burger:before {content: "\f00d";}
	nav i:before {text-indent: 0;}

	header {position: fixed;}
	nav {text-align: center;}
	nav h1 {display: inline-block; text-align: center;}
	nav ul.menu-general,
	nav ul.menu-general li:first-child,
	nav ul.menu-general li:first-child {border-top: 1px solid #3c3b47;}
	nav ul.menu-usuario li:first-child {border-left: none;}
	nav ul,
	nav ul li a {margin: 0 auto; padding: 0; line-height: 2.4; display: block; overflow: hidden;}
	nav ul li {line-height: normal; display: block; text-indent: 10px; text-align: left; border-bottom: 1px solid #3c3b47;}
}

@media (max-width: 640px) {
	.destacados {max-width: 480px;}
	footer,
	.comunidad {display: block; max-width: 100%; margin: 0 auto;}
	.comunidad ul {border-bottom: 1px solid #4c4a56;}
	.comunidad ul:last-child {border-bottom: none;}
	footer ul {border-bottom: 1px solid var(--main-bg-color);}
}
