/*
Tema: RPGMaker-ES
Autores: CésarRP, Orochii, fdelapena, EN.i, [...]
Descripción: Plantilla para la web hispana central de RPG Maker.
Versión: 1.0
Licencia: GPLv3
URL Licencia: http://www.gnu.org/licenses/gpl-3.0.html
*/

@font-face {
	font-family: FontAwesome;
	src: url("/fonts/fontawesome-webfont.woff2");
	font-display: optional;
}

main {
	background-color: var(--main-bg-color);
	color: var(--body-txt-color);
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto; /* dos columnas */
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

main article h2 {
	margin-top: 50px;
}

article figure {
	margin-top: 10px;
}

#destacados,
#nuevos,
#recursos {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: auto auto auto; /* 3 columnas */
}

#destacados h2,
#nuevos h2,
#recursos h2 {
	grid-column-start: span 3;
}

#comunidad {
	grid-column-start: span 2;
}
#comunidad h2 {
	margin-top: 10px;
}

#populares,
#reseñas,
#tutoriales {
	display: grid;
	grid-column-start: 2;
	grid-gap: 10px;
	grid-template-columns: auto; /* 1 columna */
}

#comunidad ul {
	background-color: var(--seccion-bg);
	border-radius: 10px;
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: auto auto auto;
	padding: 10px;
}

#comunidad ul li,
footer ul li {
	max-width: 320px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

main figure {
	margin: 20px auto;
	max-width: 320px;
	text-align: center;
}

img.charset {
	max-width: 288px;
	max-height: 256px;
}

main figure figcaption {
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: var(--body-txt-color);
}

/* General */

:root {
	--screen-max-width: 1320px;
	--body-bg-color: #171522;
	--body-txt-color: #d8d7e0;
	--body-txt-h-color: #ffffff;
	--main-bg-color: #2A2833;
	--main-sh-color: #1f1e26;
	--bg-azul: #12415c;
	--bg-azul-h: #196189;
	--borde-rojo: #871919;
	--borde-azul: #196189;
	--borde-verde: #708919;
	--seccion-bg: #3c3a47;
}

body {
	background-color: var(--body-bg-color);
	display: grid;
	font-family: "Open Sans", Verdana, sans-serif;
	grid-template-columns: auto 1fr;
	margin: 0;
}

/* Menú principal */

body > h1 {
	order: 1;
}

header {
	order: 2;
}

main {
	grid-column-start: span 2;
	order: 3;
}

footer {
	grid-column-start: span 2;
	order: 4;
}

header nav {
	display: grid;
	grid-template-columns: 1fr auto;
}

body > h1 {
	border-right: 1px solid var(--seccion-bg);
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 16px;
}

body > h1 img {
	vertical-align: text-top;
}

body > h1 a {
	color: var(--body-txt-color);
	display: inline-block;
	line-height: 50px;
	text-decoration: none;
}

header nav ul {
	margin: 0;
	padding: 0 0 0 10px;
	position: relative;
}

header nav ul li {
	color: var(--body-txt-color);
	display: inline;
	line-height: 50px;
}

header nav ul li a {
	color: var(--body-txt-color);
	font-size: 1.1429em;
	padding: 0.98em 0.49em;
	text-decoration: none;
}

header nav ul li a:hover,
main p a:hover {
	color: var(--body-txt-h-color);
}

header nav .separado {
	position: absolute;
	right: 0;
}

/* Wrappers, textos (encabezados, párrafos, listas...) */

p {
	line-height: 1.5em;
	padding: 0.3em 0;
}

h2 {
	border-bottom: 1px solid #636170;
	color: var(--body-txt-color);
	margin: 20px 0 5px 0;
	padding: 0 0 5px 0;
}

h1,
h2,
h3 {
	font-weight: normal;
}


/* Contenido otras secciones */

/* Ajustes */

.cpanel:first-child,
.form_acceso {
	display: inline-table;
	width: 600px;
}

.cpanel:last-child {
	color: #afafaf;
	width: 720px;
}

.cpanel:last-child ul {
	border-bottom: 1px solid var(--seccion-bg);
	display: table;
	margin: 0 auto;
	padding: 10px 5px;
	text-align: center;
}

.cpanel:last-child h2 {
	border-bottom: 1px solid var(--seccion-bg);
	font-size: 15px;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.cpanel:last-child p.infoelimincuen {
	color: #afafaf;
	font-size: 13px;
	margin: 0;
	padding: 0;
	text-align: right;
}

.cpanel:last-child ul:last-child {
	border-bottom: none;
}

.cpanel:last-child ul li {
	display: table-cell;
	font-size: 14px;
	margin: 0;
	padding: 5px 6px;
	text-align: center;
}

.cpanel:last-child ul li span {
	color: #bdd091;
	font-size: 16px;
}

.cpanel:last-child ul li span a {
	color: #bdd091;
	font-size: 14px;
}

.cpanel:last-child ul li span a:hover,
.form_acceso p a:hover {
	color: var(--body-txt-h-color);
	text-decoration: none;
}

.cpanel {
	border: 1px solid var(--seccion-bg);
	margin: 20px 0;
}

.cpanel figure {
	margin: 0;
	padding: 15px;
}

.cpanel figure:first-child {
	border-right: 1px solid var(--seccion-bg);
	height: 226px;
	width: 100px;
}

.cpanel figure img {
	height: 100px;
	width: 100px;
}

#menu_user_ajustes,
#menu_user_salir {
	display: none;
}

/* Acceso */

.minibloque {
	max-width: 240px;
}

.minibloque label {
	font-size: 15px;
	margin-top: 8px;
}

.form_acceso {
	margin: 0 auto;
}

.form_acceso p {
	font-size: 13px;
	margin: 10px 0 0 0;
	padding: 0;
}

/* Sidebar */

article#populares a {
	text-decoration: none;
}

#populares figure {
	background-color: #808080;
	line-height: 0;
}

#populares figure img {
	height: 100px;
	object-fit: cover;
	object-position: center;
}

#populares figure figcaption {
	background-color: var(--seccion-bg);
	line-height: initial;
	padding: 8px;
	text-align: left;
}

#populares figure figcaption span {
	font-weight: bold;
}

#reseñas ul,
#tutoriales ul {
	margin-top: 0;
	padding-left: 0;
}

#reseñas li,
#tutoriales li {
	border-bottom: 1px dotted #4c4a56;
	list-style: none;
	margin: 8px 0;
	padding: 0 0 5px 0;
}

#reseñas li:first-child,
#turoriales li:first-child {
	margin-top: 0;
}

#reseñas a,
#tutoriales a {
	text-decoration: none;
}

#reseñas :hover,
#tutoriales :hover {
	color: var(--body-txt-color);
}


/* Pie */

footer {
	color: var(--body-txt-color);
	margin: 0 auto;
	max-width: var(--screen-max-width);
	overflow: hidden;
	width: 100%;
}


footer nav {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
}

footer ul {
	padding-left: 0;
}

footer p {
	border-top: 1px solid var(--main-bg-color);
	font-size: 14px;
	margin: 0;
	padding: 10px;
	text-align: center;
}

footer li,
#comunidad li {
	list-style: none;
}

footer a,
#comunidad a,
.form_acceso p a {
	color: var(--body-txt-color);
	text-decoration: none;
	line-height: 2;
}

footer a:hover,
#comunidad a:hover {
	color: var(--body-txt-h-color);
}


/* Formularios */

form {
	padding: 15px;
	overflow: hidden;
}

fieldset {
	border: 1px solid var(--seccion-bg);
	padding: 20px;
}

legend {
	font-size: 17px;
}

input[type="submit"],
button[type="submit"] {
	border-radius: 2px;
	box-shadow: 2px 3px 2px 0 #06111C;
	cursor: pointer;
	font-size: 15px;
	padding: 6px 10px 8px 10px;
}

.bg_azul {
	background: var(--bg-azul) linear-gradient(to top, var(--bg-borde-azul) 0%, #196189 100%);
	color: #91b9d0;
}

.bg_azul:hover {
	background: var(--bg-azul-h) linear-gradient(to top, #196189 0%, #3b91c1 100%);
	color: var(--body-txt-h-color);
}

.bg_verde {
	background: #375c12 linear-gradient(to top, #375c12 0%, var(--bg-borde-verde) 100%);
	color: #bdd091;
}

.bg_verde:hover {
	background: var(--bg-borde-verde) linear-gradient(to top, var(--bg-borde-verde) 0%, #9bba2e 100%);
	color: var(--body-txt-h-color);
}

.bg_rojo {
	background: #5b1212 linear-gradient(to top, #5b1212 0%, #871919 100%);
	color: #edbdbd;
}

.bg_rojo:hover {
	background: #871919 linear-gradient(to top, #871919 0%, #b72d2d 100%);
	color: var(--body-txt-h-color);
}

.borde_rojo {
	border: 1px solid var(--borde-rojo);
}

.borde_azul {
	border: 1px solid var(--borde-azul);
}

.borde_verde {
	border: 1px solid var(--borde-verde);
}

input[type="text"],
input[type="password"],
input[type="email"] {
	background-color: var(--body-bg-color);
	border: 1px solid var(--seccion-bg);
	box-sizing: border-box;
	border-radius: 3px;
	color: var(--body-txt-color);
	margin: 11.5px auto;
	padding: 5px;
	width: 75%;
}

[type="file"] {
	height: 0;
	overflow: hidden;
	width: 0;
}

[type="file"] + label {
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	margin: auto 30% 20px auto;
	outline: initial;
	padding: 6px 10px 8px 10px;
	position: relative;
	text-align: center;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label span {
	background: url("/pics/check_radio_sheet.png") left top no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	width: 19px;
}

input[type="checkbox"]:checked + label span {
	background: url("/pics/check_radio_sheet.png") -19px top no-repeat;
}

input[type="text"]:disabled {
	background-color: var(--seccion-bg);
}

input[type="text"]:required:invalid,
input[type="password"]:required:invalid,
input[type="email"]:required:invalid {
	box-shadow: none;
}

/* Iconos */

i:before {
	cursor: text;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	width: 1em;
}

.mas:before,
.jtotales:before,
article figcaption span,
article a {
	color: #d4b300;
	text-decoration: none;
}

.salir:before {
	content: "\f08b";
}

.juegos:before,
.jtotales:before {
	content: "\f11b";
}

.recursos:before {
	content: "\f07c";
}

.cargavatar:before {
	content: "\f093";
}

.actualizar:before {
	content: "\f01e";
}

.estadisticas:before {
	content: "\f201";
}

.anular:before {
	content: "\f05e";
}

.altavoz:before {
	content: "\f0a1";
}

.mundo:before {
	content: "\f0ac";
}

.nuser:before {
	content: "\f234";
}

.copy-left {
	display: inline-block;
	transform: scaleX(-1);
}

/* Ocultos > 768px */

a[href="#menu"] {
	display: none;
}

#menu {
	display: block;
}


/* Honeypots */

.cofreMisterioso {
	display: none;
}

/* Responsivos */

@media (max-width: 1319px) {

	:root {
		--screen-max-width: 989px;
	}

	#destacados,
	#nuevos,
	#recursos,
	#comunidad ul,
	footer nav {
		grid-template-columns: auto auto;
	}

	#destacados h2,
	#nuevos h2,
	#recursos h2,
	#comunidad {
		grid-column-start: span 2;
	}
}

@media (max-width: 989px) {

	:root {
		--screen-max-width: 690px;
	}

	#destacados,
	#nuevos,
	#recursos,
	#comunidad ul,
	footer nav {
		grid-template-columns: auto;
	}

	#destacados h2,
	#nuevos h2,
	#recursos h2,
	#comunidad {
		grid-column-start: span 1;
	}
}


@media (max-width: 679px) {

	:root {
		--screen-max-width: 320px;
	}

	body > h1 {
		border-right: medium none currentcolor;
		font-size: 22px;
		padding-right: 0;
	}

	main {
		grid-template-columns: auto;
		padding-top: 45px;
	}
}

@media (max-width: 740px) { /* ancho de la barra del menú */
	a[href="#menu"] {
		color: var(--body-txt-color);
		display: inline;
		font-size: 32px;
		line-height: 50px;
		text-align: right;
		text-decoration: none;
		padding-right: 10px;
	}

	#menu {
		display: none;
	}

	#menu:target {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

	#menu a[href="#menu-cerrado"] {
		background-color: var(--body-bg-color);
		color: var(--body-txt-color);
		font-size: 24px;
		line-height: 50px;
		padding-right: 1ex;
		position: absolute;
		right: 0;
		text-align: right;
		text-decoration: none;
	}

	#menu:target a[href="#menu-cerrado"]:before {
		content: "❌";
	}

	#menu:target a[href="#menu-cerrado"] {
		display: inline;
	}

	#menu li {
		display: block;
		background-color: var(--body-bg-color);
	}

	#menu:target a[href="#menu-cerrado"] + li {
		margin-top: 50px;
	}

	header nav .separado {
		position: static;
		right: auto;
	}

}

@media (max-width: 319px) { /* para pantallas de 240px de ancho */
	body > h1 {
		font-size: 15px;
	}
	img,
	img.charset {
		max-width: 100%;
		height: auto;
	}
}
