#Exclusion for IDE's
.idea/*
.vscode/*
.history/*
.DS_Store

#Exclusion for EN.I's workspace
public/.htaccess
composer.bat
php.bat

#Exclusion for development config files
config.php
config-override.php
/public

#Exclusion for composer files
/vendor/

