/*
Tema: RPGMaker-ES
Autores: CésarRP, Orochii, Fdelapena, EN.i, [...]
Descripción: Plantilla para la web hispana central de RPG Maker.
Versión: 1.0
Licencia: GPLv3
URL Licencia: http://www.gnu.org/licenses/gpl-3.0.html
*/

/*General*/

@font-face {font-family: "FontAwesome"; src: url("fonts/fontawesome-webfont.woff2");}
@font-face {font-family: "Maven Pro"; src: url("fonts/MavenPro-VF.woff2");}

:root {--main-bg-color: #171522; --main-txt-color: #d8d7e0; }

body {margin: 0; font-family: "Maven Pro", sans-serif; background-color: var(--main-bg-color);}
section {background-color: #2A2833; margin: 0; padding: 10px; color: var(--main-txt-color);}

/*Menu principal*/

nav {
	background-color: var(--main-bg-color);
	position: relative;
	z-index: 3;
	text-align: right;
	box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.5);
}

nav h1 {
	float: left;
	margin: 0 auto;
	max-width: 960px;
	text-indent: 36px;
	line-height: 1.6em;
	background-image: url("pics/rpgmaker.png");
	background-repeat: no-repeat;
	background-position: left;
}

nav h1 a {
	display: block;
	color: var(--main-txt-color);
	padding: 6px;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: center;
}

nav ul.menu-general {float: left;}
nav ul.menu-general li:first-child, nav ul.menu-usuario li:first-child {border-left: 1px solid #3c3b47;}

nav ul {display: inline-flex; margin: 0; padding: 0 0 0 10px;}
nav ul li {display: inline; line-height: 50px; color: var(--main-txt-color);}

nav ul li a {
	color: var(--main-txt-color);
	text-decoration: none;
	font-size: 1.1429em;
	padding: 0.98em 0.49em;
}

nav ul li a:hover, article.contenedor aside p a:hover {color: #fff;}

/*Wrappers, textos (encabezados, párrafos, listas...)*/

.contenedor, footer {margin: 0 auto; max-width: 1280px; padding: 0; overflow: hidden;}

p {padding: 0.3em 0; line-height: 1.5em;}

h2 {
	border-bottom: 1px solid #636170;
	color: #d8d7e0;
	margin: 40px 0 5px 0;
	padding: 0 0 5px 0;
}

h1, h2, h3 {font-weight: normal;}

.flotar_d {float: right;}
.flotar_i {float: left;}

figcaption, footer div ul li, .comunidad div ul li {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}


/*Destacados*/

article.contenedor div.destacados {width: 925px;}
article.contenedor div.destacados figure img {width: 205px;}
article.contenedor div.destacados figure {display: inline-block; margin: 15px 35px 15px 0; width: 205px;}
article.contenedor div.destacados figure:nth-child(5), article.contenedor div.destacados figure:nth-child(10),
article.contenedor div.destacados figure:nth-child(14), article.contenedor div.destacados figure:last-child {margin: 30px 0;}
article.contenedor div.destacados figure figcaption {text-align: center;}

/* Contenido otras secciones */
/* Ajustes */
article.contenedor div.cpanel:first-child, .form_acceso {display: inline-table; width: 600px;}
article.contenedor div.cpanel:last-child {width: 720px; color: #afafaf;}
article.contenedor div.cpanel:last-child ul {display: table; margin: 0 auto; padding: 10px 5px; text-align: center; border-bottom: 1px solid #39393a;}
article.contenedor div.cpanel:last-child h2 {font-size: 15px;text-align: center; border-bottom: 1px solid #39393a; margin: 0; padding: 10px 0;}
article.contenedor div.cpanel:last-child p.infoelimincuen {text-align: right; clear: right; font-size: 13px; color: #afafaf; margin: 0; padding: 0;}
article.contenedor div.cpanel:last-child ul:last-child {border-bottom: none;}
article.contenedor div.cpanel:last-child ul li {display: table-cell; padding: 5px 6px; margin: 0; text-align: center; font-size: 14px;}
article.contenedor div.cpanel:last-child ul li span {color: #bdd091; font-size: 16px;}
article.contenedor div.cpanel:last-child ul li span a {color: #bdd091; font-size: 14px;}
article.contenedor div.cpanel:last-child ul li span a:hover, .form_acceso p a:hover {color: #fff; text-decoration: none;}
article.contenedor div.cpanel {border: 1px solid #39393a; margin: 20px 0;}
article.contenedor div.cpanel figure {margin: 0; padding: 15px;}
article.contenedor div.cpanel figure:first-child {float: left; width: 100px; height: 226px; border-right: 1px solid #39393a;}
article.contenedor div.cpanel figure img {width: 100px; height: 100px;}

#menu_user_ajustes, #menu_user_salir {display: none;}

/* Acceso */

.minibloque {max-width: 240px;}
.minibloque label {margin-top: 8px; font-size: 15px;}
.form_acceso {margin: 0 auto;}
.form_acceso p {font-size: 13px; margin: 10px 0 0 0; padding: 0;}


article br.limpiar {clear: both;}

.comunidad {background-color: #3c3a47; display: table; margin: 20px auto; border-radius: 10px; width: 98%; padding: 0 10px;}

/*Sidebar*/

article.contenedor aside {float: right; width: 300px;}
article.contenedor aside figure, article.contenedor aside figure img {height: 100px; margin: 11.6px 0 0 0; padding: 0; background: gray;}
article.contenedor aside figure figcaption {background-color: var(--main-bg-color); opacity: 0.7; padding: 8px;}
article.contenedor aside figure figcaption span {font-weight: bold;}
article.contenedor aside p {border-bottom: 1px dotted #4c4a56; padding: 0 0 5px 0; margin: 8px 0;}
article.contenedor aside p a {color: var(--main-txt-color); text-decoration: none;}

/*Pie*/

footer {color: var(--main-txt-color);}
footer p {text-align: center; font-size: 14px; padding: 10px; margin: 0; border-top: 1px solid #2A2833;}
.contene-footer {display: table; width: 100%; margin: 40px auto;}
footer div, .comunidad div {display: table-cell; width: 300px;}
footer div ul, .comunidad div ul {list-style-type: none; padding: 0; width: 300px;}
footer div ul li, .comunidad div ul li {list-style: none;}
footer div a, .comunidad div a, .form_acceso p a {color: var(--main-txt-color); text-decoration: none;}
footer div a:hover, .comunidad div a:hover {color: #fff;}


/* Formularios */

form {padding: 15px; overflow: hidden;}

fieldset {border: 1px solid #39393a; padding: 20px;}
legend {font-size: 17px;}

label {
	font-size: 15px;
	color: #afafaf;
	content: '\A';
	white-space: pre;
}

input[type="submit"], button[type="submit"] {
	border-radius: 2px;
	box-shadow: 2px 3px 2px 0px rgba(6, 17, 28, 0.9);
	cursor: pointer;
	font-size: 15px;
	padding: 6px 10px 8px 10px;
}

.bg_azul {
	background: #12415c linear-gradient(to top, #12415c 0%, #196189 100%);
	color: #91b9d0;
}

.bg_azul:hover {
	background: #196189 linear-gradient(to top, #196189 0%, #3b91c1 100%);
	color: #fff;
}

.bg_verde {
	background: #375c12 linear-gradient(to top, #375c12 0%, #708919 100%);
	color: #bdd091;
}

.bg_verde:hover {
	background: #708919 linear-gradient(to top, #708919 0%, #9bba2e 100%);
	color: #fff;
}

.bg_rojo {
	background: #5b1212 linear-gradient(to top, #5b1212 0%, #871919 100%);
	color: #edbdbd;
}

.bg_rojo:hover {
	background: #871919 linear-gradient(to top, #871919 0%, #b72d2d 100%);
	color: #fff;
}

.borde_rojo {
	border: 1px solid #871919;
}

.borde_azul {
	border: 1px solid #196189;
}

.borde_verde {
	border: 1px solid #708919;
}


input[type="text"], input[type="password"], input[type="email"] {
	background-color: var(--main-bg-color);
	width: 75%;
	padding: 5px;
	margin: 11.5px auto;
	color: var(--main-txt-color);
	border: 1px solid #39393a;
	border-radius: 3px;
	box-sizing: border-box;
}

[type="file"] {height: 0; overflow: hidden; width: 0;}

[type="file"] + label {
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	outline: initial;
	font-size: 14px;
	text-align: center;
	padding: 6px 10px 8px 10px;
	position: relative;
	margin: auto 30% 20px auto;
}

input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	background:url("pics/check_radio_sheet.png") left top no-repeat;
	cursor:pointer;
}
input[type="checkbox"]:checked + label span {
	background:url("pics/check_radio_sheet.png") -19px top no-repeat;
}

input[type="text"]:disabled {
	background-color: #39393a;
}

input[type="text"]:required:invalid, input[type="password"]:required:invalid, input[type="email"]:required:invalid {
	box-shadow: none;
}

/* Iconos */

.acceso:before, .ayuda:before, .ajustes:before, .salir:before, .juegos:before, .recursos:before, .burger:before, .altavoz:before,
.rdescargados:before, .estrella:before, .mas:before, .mas-2:before, .tutos:before, .resena:before, .estrella-2:before, .anular:before, .mundo:before,
.bandera:before, .folio:before, .tuto:before, .comu:before, .cargavatar:before, .actualizar:before, .jtotales:before, .estadisticas:before, .nuser:before {
	cursor: context-menu;
	font-family: "FontAwesome", sans-serif;
	font-style: normal;
	font-weight: normal;
	margin-right: 0.3rem;
}

.rdescargados:before, .estrella:before, .estrella-2:before, .mas:before,
.tutos:before, .resena:before, .bandera:before, .comu:before, .jtotales:before, article.contenedor aside figure figcaption span, article.contenedor aside p a {color: #d4b300;}
.acceso:before, .ayuda:before, .ajustes:before, .salir:before, .juegos:before, .recursos:before, .burger:before, .folio:before, .cargavatar:before, .actualizar:before,
.anular:before, .nuser:before {cursor: pointer;}

.acceso:before {content: "\f090";}
.ayuda:before {content: "\f059";}
.ajustes:before {content: "\f013";}
.salir:before {content: "\f08b";}
.juegos:before, .jtotales:before {content: "\f11b";}
.recursos:before {content: "\f07c";}
.burger:before {content: "\f0c9";}
.rdescargados:before {content: "\f0ed";}
.estrella:before {content: "\f005";}
.estrella-2:before {content: "\f006";}
.mas:before {content: "\f0fe";}
.mas-2:before {content: "\f067"; font-size: 18px;}
.tutos:before {content: "\f19d";}
.tuto:before {content: "\f212";}
.resena:before {content: "\f00c";}
.bandera:before {content: "\f024";}
.folio:before {content: "\f15c";}
.comu:before {content: "\f0c0";}
.cargavatar:before {content: "\f093";}
.actualizar:before {content: "\f01e";}
.estadisticas:before {content: "\f201";}
.anular:before {content: "\f05e";}
.altavoz:before {content: "\f0a1";}
.mundo:before {content: "\f0ac";}
.nuser:before {content: "\f234";}
.copy-left {
	display: inline-block;
	margin-right: 5px;
	transform: scaleX(-1);
}

/*Ocultos > 800px*/

nav input[type="checkbox"], nav label {display: none;}

/*Honeypots */
.cofreMisterioso {display: none;}

/*Responsivos*/

@media screen and (max-width: 800px) {
	section {padding-top: 45px;}
	nav label {font-size: 25px;}
	nav input[type="checkbox"], nav label {display: inline-block; color: var(--main-txt-color);}
	nav input[type="checkbox"] ~ .menu {max-height: 0;}
	nav input[type="checkbox"] {visibility: hidden;}
	nav input[type="checkbox"]:checked ~ .menu {max-height: 100%;}
	nav input[type="checkbox"]:checked ~ label .burger:before {content: "\f00d";}

	nav {text-align: center; position: fixed; width: 100%;}
	nav h1 {max-width: 100%; display: inline-block; text-align: center;}
	nav ul.menu-general, nav h1 {float: none;}
	nav ul.menu-general li:first-child, nav ul.menu-usuario li:first-child {border-left: none;}
	nav ul.menu-general li:first-child {border-top: 1px solid #3c3b47;}
	nav ul, nav ul li a {margin: 0 auto; padding: 0; display: block; overflow: hidden;}
	nav ul li {line-height: normal; display: block; padding-left: 10px; text-align: left; border-bottom: 1px solid #3c3b47;}
}

@media screen and (max-width: 1280px) {
	article.contenedor div.destacados {max-width: 820px;}
	article.contenedor div.destacados figure img {width: 170px;}
}

@media screen and (max-width: 1160px) {
	article.contenedor div.destacados {max-width: 760px;}
	article.contenedor div.destacados figure img {width: 150px;}
}

@media screen and (max-width: 1100px) {
	article.contenedor div.destacados {max-width: 700px;}
	article.contenedor div.destacados figure {margin: 15px 32px 15px 0;}
}

@media screen and (max-width: 1080px) {
	article.contenedor div.destacados {max-width: 680px;}
	article.contenedor div.destacados figure {margin: 15px 25px 15px 0;}
}

@media screen and (max-width: 1050px) {
	article.contenedor div.destacados {max-width: 600px;}
	article.contenedor div.destacados figure {margin: 15px 0;}
}

@media screen and (max-width: 1000px) {
	article.contenedor div.destacados figure img {width: 300px;}
	article.contenedor div.destacados figure, article.contenedor div.destacados figure:nth-child(5), article.contenedor div.destacados figure:nth-child(10),
	article.contenedor div.destacados figure:nth-child(14), article.contenedor div.destacados figure:last-child {margin: 15px 0;}
}

@media screen and (max-width: 940px) {
	article.contenedor div.destacados, article.contenedor aside {float: none; margin: 0 auto; max-width: 640px;}
	article.contenedor div.destacados figure img {max-width: 300px;}
	article.contenedor div.destacados figure {margin: 15px 20px 15px 0;}
	article.contenedor div.destacados figure:nth-child(5), article.contenedor div.destacados figure:nth-child(10),
	article.contenedor div.destacados figure:nth-child(14), article.contenedor div.destacados figure:last-child {margin: 15px 0;}
}

@media screen and (max-width: 640px) {
	article.contenedor div.destacados {max-width: 480px;}
	article.contenedor div.destacados figure {margin: 15px 8% 15px 0;}
	article.contenedor div.destacados figure:nth-child(3), article.contenedor div.destacados figure:nth-child(8), article.contenedor div.destacados figure:nth-child(10),
	article.contenedor div.destacados figure:nth-child(12), article.contenedor div.destacados figure:nth-child(14), article.contenedor div.destacados figure:nth-child(17),
	article.contenedor div.destacados figure:nth-child(19), article.contenedor div.destacados figure:last-child {margin: 15px 0;}
	article.contenedor div.destacados figure img {max-width: 150px; height: auto;}
	footer div, .comunidad div {display: block; max-width: 100%; margin: 0 auto;}
	div.comunidad div {border-bottom: 1px solid #4c4a56;}
	div.comunidad div:last-child {border-bottom: none;}
	.contene-footer {display: block; text-align: center;}
	div.contene-footer div {border-bottom: 1px solid #2A2833;}
}
